---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <br>
  <span class="post-date"><i class="far fa-calendar-alt space-right">&nbsp;</i> {{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<hr>
<h3>About DhanVidya</h3>

<code>DhanVidya</code> which is a sanskrit word means Treasure of Knowledge. This website is all about sharing Knowledge and recommending stuff which
spreads and improves Knowledge. Head to the <a href="/about">about</a> page if you are curious to learn more. 

<hr>
<h2>Tagged Under</h2>
<br>
  {% for tag in page.tags %}
    <p><i class="fa fa-tags" aria-hidden="true"></i> <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
    </p>
  {% endfor %}
